<!doctype html>
<html
        lang="en"
        layout:decorate="~{layout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
>
<head>
    <title>View Profile</title>
</head>
<body>
<main class="flex-shrink-0 pt-5" id="create-form-page" layout:fragment="body">
    <h3 class="display-5 fw-bold text-center mt-5">User Profile</h3>
    <div class="container d-flex align-items-center justify-content-center flex-column">
        <form action="#" class="row g-3" id="profile-form" method="post" th:object="${user}">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label" for="firstName">First Name</label>
                    <input class="form-control" disabled id="firstName" name="firstName" th:field="*{firstName}"
                           type="text"/>
                    <p class="alert alert-danger" th:errors="*{firstName}"
                       th:if="${#fields.hasErrors('firstName')}"></p>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="lastName">Last Name</label>
                    <input class="form-control" disabled id="lastName" name="lastName" th:field="*{lastName}"
                           type="text"/>
                    <p class="alert alert-danger" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <label class="form-label" for="username">Username </label>
                    <input class="form-control" disabled id="username" name="username" th:field="*{username}"
                           type="text"/>
                    <p class="alert alert-danger" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></p>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="email">Email Address</label>
                    <input class="form-control" disabled id="email" name="email" th:field="*{email}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-12">
                    <label class="form-label" for="streetAddress">Street Address</label>
                    <input class="form-control" disabled id="streetAddress" name="streetAddress"
                           th:field="*{streetAddress}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{streetAddress}"
                       th:if="${#fields.hasErrors('streetAddress')}"></p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <label class="form-label" for="cityAddress">City</label>
                    <input class="form-control" disabled id="cityAddress" name="cityAddress"
                           th:field="*{cityAddress}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{cityAddress}"
                       th:if="${#fields.hasErrors('cityAddress')}"></p>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="stateAddress">State</label>
                    <input class="form-control" disabled id="stateAddress" name="stateAddress"
                           th:field="*{stateAddress}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{stateAddress}"
                       th:if="${#fields.hasErrors('stateAddress')}"></p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-6">
                    <label class="form-label" for="zipCode">Zip Code</label>
                    <input class="form-control" disabled id="zipCode" name="zipCode" th:field="*{zipCode}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{zipCode}" th:if="${#fields.hasErrors('zipCode')}"></p>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="phoneNumber">Phone</label>
                    <input class="form-control" disabled id="phoneNumber" name="phoneNumber"
                           th:field="*{phoneNumber}" type="text"/>
                    <p class="alert alert-danger" th:errors="*{phoneNumber}"
                       th:if="${#fields.hasErrors('phoneNumber')}"></p>
                </div>
            </div>
            <input name="id" th:field="*{id}" type="hidden"/>
            <input name="password" th:field="*{password}" type="hidden"/>


        </form>
    </div>
</main>
</body>
</html>
